@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Lato:wght@300&family=League+Spartan&family=Mulish:wght@300&family=Noto+Sans+Mono:wght@200&family=Oxygen:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@300&family=Teko:wght@300&family=Ubuntu:wght@300&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #030303;
  color: white;
}
.navbar {
  display: flex;
  /* position: sticky; */
  align-items: center;
  top: 0;
}

ul {
  display: flex;
}
.navList {
  width: 85%;
}
li {
  font-family: "Roboto Mono", monospace;

  list-style: none;
  margin: 0.8rem;
  padding-left: 2rem;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  color: rgb(255, 44, 44);
}
.nav_right {
  margin: auto;
  font-family: "Roboto Mono", monospace;
}

.marquee {
  background-color: #8bf588;
  color: black;
  height: 2rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

#Contact a:hover {
  color: green;
}

.front {
  height: 600px;
  margin: auto;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 90%;
}
.left {
  width: 100%;
  margin-left: 4rem;
}
.left h4 {
  font-family: "Roboto Mono", monospace;

  font-size: 1.3rem;
}
.left h1 {
  color: yellow;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
.left p {
  font-family: "Ubuntu", sans-serif;

  font-size: 1.4rem;
}
.right {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: 5rem;
  animation: updown 4s ease infinite;
  transition: all 0.4s;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    tansform: translateY(0px);
  }
}
.right img {
  border-radius: 200px;
  height: 22rem;
  /* box-shadow: 1px 1px 70px 1px rgba(170, 168, 168, 0.671); */
  animation: colorchange 6s linear infinite;
}
@keyframes colorchange {
  0% {
    box-shadow: 1px 1px 70px 1px green;
  }
  30% {
    box-shadow: 1px 1px 70px 1px red;
  }
  70% {
    box-shadow: 1px 1px 70px 1px cyan;
  }
  100% {
    box-shadow: 1px 1px 70px 1px green;
  }
}

.second {
  height: 800px;
  color: black;
  background-color: #0544a4;
}
@keyframes changebg {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: yellow;
  }
  60% {
    background-color: green;
  }
  80% {
    background-color: cyan;
  }
  100% {
    background-color: red;
  }
}
.alfa {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  height: 100%;
}
.left_second {
  color: white;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  padding: 30px;
  margin-left: 20px;
  height: 435px;
  box-shadow: 1px 1px 80px rgb(24, 47, 255);
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_second h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 3.5rem;
}
#project {
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 1.6rem;
  /* padding: 10px; */
  align-items: center;
  justify-content: center;
}
#project_para {
  font-family: "Poppins", sans-serif;
  margin: auto;
  font-size: 1rem;
  padding-top: 1rem;
}

.right_second {
  display: flex;
  align-items: right;
  justify-content: right;
}

.right_second img {
  height: 30rem;
}
.btn_section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#btn {
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  padding: 12px;
  background-color: purple;
  color: white;
  width: 20rem;
  font-size: 1.3rem;
  border-radius: 10px;
}
#btn:hover {
  cursor: pointer;
  color: black;

  animation: changebg 10s linear infinite;
}

.bita{
  height: 600px;
  background-color: rgb(0, 0, 0);
}

.main_div_bita{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;



}

.left_vector {

height: 400px;
max-width: 50%;
}


.left_vector img {
  height: 30rem;
}




.right_vector{
  display: flex;
  align-items: right;
  justify-content: right;
  /* flex-direction: column; */
  /* background-color: blue;
  height: 400px;*/
   
}
.p_image img{
  height: 14rem;
  /* border: 1px solid white; */

}


.p_image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-right: 6rem;
  height: 600px;

  border: 1px solid white;
  border-radius: 5px;
}
.para{
  font-family: "Poppins", sans-serif;

  padding-top: 2rem;
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;



}

.icon {
margin: 0.5rem;

  
}
.icon:hover {
cursor: pointer;
filter: invert();
  
}
.icon img{
  height: 1.5rem;

}

.foot{
  height: 59px;
  background-color: rgb(37, 37, 37);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;

}
